p{ 
    color:chocolate;
    fontsize:22;
}

h1,h2,h3{
    color:indigo;
    fontsize; 30;
}

#header-1{
    color:red;
    text-decoration:underline;
}

.p-css{
    color:teal;
    fontsize:25;
}

*{
    margin:0;
    paddling:0;
    background-color:lightgrey;
}

.box-model{
    width:600px;
    height:500px;
    background-color:lightseagreen;
    padding:20px;
    border:3px solid black;
}

.box{
    width:400px;
    height:300px;
    background-color:lightcoral;
    margin:20px auto;
    border:3px solid black;
}

.box p{
    color:white;
    fontsize:20px;
    text-align:center;
}