<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Flex-Box </title>
        <style>
            .container {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }

            .box {
                flex: 1 1 200px;
                background: rgb(63, 63, 11);
                color: blueviolet;
                padding: 20px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="box"> Item 1</div>
            <div class="box"> Item 2</div>
            <div class="box"> Item 3</div>
         </div>
    </body>
</html>